
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,
q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,
tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,
video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

a{text-decoration:none;}
.txt-rt{text-align:right;}
.txt-lt{text-align:left;}
.txt-center{text-align:center;}
.float-rt{float:right;}
.float-lt{float:left;}
.clear{clear:both;}
.pos-relative{position:relative;}
.pos-absolute{position:absolute;}
.vertical-base{	vertical-align:baseline;}
.vertical-top{	vertical-align:top;}
nav.vertical ul li{	display:block;}
nav.horizontal ul li{	display: inline-block;}
img{max-width:100%;}

body{
	
	 background:  linear-gradient(to bottom, #73C6B6 0%, #138D75 100%) no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	font-family: 'Open Sans', sans-serif;

}
.login-form {
	background:#eee;
	width: 26%;
	margin:9% auto 4% auto;
 	position: relative;
 	-webkit-border-radius: 0.4em;
	-o-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
 	
}

.head {
	position: absolute;
	top:-15%;
	left: 35%;
}
.head img {
	border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
}
.main{
	position:relative;
}
.main h1{
	font-size:25px;
	color: #0B5345;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	padding-top: 19%;
	text-align: center;
}
.main div#field {
	width: 80%;
	margin: 0 auto;
	padding: 6% 0 9% 0;
}


 input[type="text"], input[type="password"]{
	text-align:left;
	position: relative;
	width:92%;
	padding:3%;
	background: transparent;
	margin-bottom: 6%;
	font-family: 'Open Sans', sans-serif;
	color: #676767;
	font-size: 16px;
	outline: none;
	border: none;
	border-bottom: 1px solid #949494;
	border-radius: 0px;
}
 input[type="text"]:hover,input[type="text"]:focus, input[type="password"]:hover, input[type="password"]:focus{
 	border-bottom:1px solid #239B56;
 	color: #239B56;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:	0.5s;
 	
 }
button{
	width: 99%;
	padding: 3%;
	margin-top: 8%;
	margin-bottom: 5%;
	background: #0B5345;
	font-family: 'Open Sans', sans-serif;
	color: #ECECEC;
	font-size: 20px;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight:500;
	border-radius: 5px;
	transition: 0.5s;
	-webkit-appearance:none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
}
button:hover{
	background: transparent;
	color: #0B5345;
	border: 1px solid #0B5345;
}

@media (max-width:1440px) and (min-width: 1400px){
	.login-form {
	width:30%;
	margin: 11% auto 4% auto;
	}
	.main h1 {
	padding-top: 23%;
	}
	.head img{
		margin-left: 0.8rem;
	}
}
@media (max-width:1366px){
	.login-form {
	width: 32%;
	margin: 10% auto 4% auto;
	}
}
@media (max-width:1280px){
	.login-form  {
		margin:8% auto 0;
		width:34%;
	
	}

}
@media (max-width:1024px) and (min-width: 999px){
.login-form  {
		margin:12% auto 0;
		width:45%;

	 
	}
	.head img{
       margin-left: 0.8rem;
	}
	
}
@media (max-width:768px) and (min-width: 700px){
	.login-form  {
		margin: 16% auto 0;
		width: 59%;
	}
	.head img{
        margin-left: 0.6rem;
	}
	
}
@media (max-width:640px) and (min-width: 600px){                                  
	.login-form {
	margin: 20% auto 0;
	width: 63%;
	}
	
}
@media (max-width:425px) and (min-width: 400px){                                  
	.login-form {
	margin: 32% auto 0;
	width: 74%;
	
	}
	.main h1 {
	font-size: 22px;
	}
	.head img {
	width: 78%;
	}
	.head {
	top: -15%;
	left: 34%;
	}
	input[type="text"], input[type="password"], button {
	font-weight: 600;
	margin-bottom: 4%;
	}
}
@media(max-width: 375px) and (min-width: 350px){
   .login-form {
	margin: 32% auto 0;
	width: 74%;
	
	}
	.main h1 {
	font-size: 22px;
	}
	.head img {
	width: 72%;
	}
	.head {
	top: -15%;
	left: 34%;
	}
	input[type="text"], input[type="password"], button {
	font-weight: 600;
	margin-bottom: 4%;
  }
}
@media (max-width:320px){                                  
	.login-form  {
		margin:20% auto 0;
		width: 85%;
	}
	.main h1 {
	padding-top: 20%;
	font-size: 20px;
	}
	.head img {
	width: 66%;
	}
	.head {
	top: -15%;
	left: 36%;
	}
	input[type="text"], input[type="password"],button {
	font-weight:600;
	font-size: 15px;
	}
	.main form p a {
	font-size: 15px;
	}
	button {
	padding: 4%;
	}
		
}
