@import url("index.css");
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    width: 250px;
    min-width: 250px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: 187px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}
button.click{
    background-color: transparent;
    height: 3.5rem;
    margin-top: 5rem;
    border-radius: 3px;
    border: none;
    margin-left: -2rem;
    color: lightgrey;
}
input#textInput_1{
    margin-left: 28%;
    width: 45%;
    border: 1px solid lightgrey;
}
input#submit{
          margin-left: 41%;
          margin-bottom: 4rem;
}
.text-center {
          text-align: center;
          font-family: 'Montserrat',sans-serif;
          background: transparent;
}
.panel{
    background: transparent;
    border: 1px solid #145A32;
    margin-top: -3rem;
}
.panel.small {
    height: 50rem;
    max-height: 50rem;
    min-height: 50rem;
}
.panel.large{
    height: 50rem;
    max-height: 50rem;
    min-height: 50rem;
}
table#result tr#myTable{
    padding-right: 2rem;
}
th,tr,td,table{
    text-align: center;
}
th#sizeCol{
    padding-left: 5.7rem;
}
td{
    color: #239B56;
    padding-left: 3rem;
    padding-right: 16rem;
}
th{
    color: #117864;
    text-align: center;
}
#result_1,#message{
    text-align: center;
    font-size: 17px;
    color: #239B56;
}
#message{
    margin-top: 4rem;
}
div#datalist{
  position: absolute;
}
#backSearch{
    margin-top: 4rem;
    background-color: #464646;
    color: white;
    font-family: 'Montserrat',sans-serif;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    font-size: 16px;
    border: 2px solid lightgrey;
    margin-left: 41%;

}
#backSearch:hover{
    background-color: transparent;
    color: #239B56;
    border: 1px solid #239B56;
     
}
input#textInput{
    margin-left: 15rem;
    margin-top: 5rem;
    border: 1px solid lightgrey;
    color: #239B56;
    width: 24rem;
}
input#textInput:focus,input#textInput:active{
    border: 1px solid #239B56;
}
input#textInput_1:focus,input#textInput_1:active{
    border: 1px solid #239B56;
}
.form-control:focus ~ button.click,.form-control:active ~ button.click{
    color: #239B56;
}
#searchBar{
    display: inline-flex;
    margin-top: -4rem;
}
input::-webkit-calendar-picker-indicator {
  display: none;
} 
td.product{
   cursor: pointer;
}
@media(max-width: 320px){
   input#textInput{
        margin-left: 103.5rem;
        margin-top: 7rem;
   } 
   button.click{
      margin-top: 7rem;
   }
  td{
    color: #239B56;
    padding-left: 0rem;
    padding-right: 6rem;
  }
  th#sizeCol{
    padding-left: 2.7rem;
  }
  input#backSearch{
     font-size: 10px;
     margin-left: 11rem;
  }
  input#submit{
    margin-left: 37%;
    margin-bottom: 4rem;
    font-size: 10px;
  }
  input#textInput_1{
     width: 70%;
     margin-left: 4.5rem;
     margin-top: 7rem;
  }
  .panel.large{
     margin-top: 2rem;
  }

}
@media(max-width: 375px) and (min-width: 330px){
   input#textInput{
        margin-left: 103.5rem;
        margin-top: 7rem;
   } 
   button.click{
      margin-top: 7rem;
   }
  td{
    color: #239B56;
    padding-left: 0rem;
    padding-right: 8rem;
  }
  input#backSearch{
     font-size: 10px;
     margin-left: 13.5rem;
  }
  input#submit{
    margin-left: 37%;
    margin-bottom: 4rem;
    font-size: 10px;
  }
  input#textInput_1{
     width: 70%;
     margin-left: 4.5rem;
     margin-top: 7rem;
  }
  .panel.large{
     margin-top: 2rem;
  }

}
@media(max-width: 425px) and (min-width: 420px){
   input#textInput{
        margin-left: 103.5rem;
        margin-top: 7rem;
   } 
   button.click{
      margin-top: 7rem;
   }
  td{
    color: #239B56;
    padding-left: 0rem;
    padding-right: 9rem;
  }
  input#backSearch{
     font-size: 10px;
     margin-left: 16rem;
  }
  input#submit{
    margin-left: 40%;
    margin-bottom: 4rem;
    font-size: 10px;
  }
  input#textInput_1{
     width: 70%;
     margin-left: 6rem;
     margin-top: 7rem;
  }
  .panel.large{
     margin-top: 2rem;
  }

}
@media(max-width: 768px) and (min-width: 600px){
   input#textInput{
        margin-left: 77rem;
        margin-top: 7rem;
   } 
   button.click{
      margin-top: 7rem;
   }
  td{
    color: #239B56;
    padding-left: 0rem;
    padding-right: 14rem;
  }
  th#sizeQuant{
    padding-right: 4rem;
  }
  input#backSearch{
     font-size: 10px;
     margin-left: 32rem;
  }
  input#submit{
    margin-left: 45%;
    margin-bottom: 4rem;
    font-size: 10px;
  }
  input#textInput_1{
     width: 45%;
     margin-left: 20rem;
     margin-top: 7rem;
  }
  datalist{
    margin-left: -10rem;
  }
  .panel.large{
     margin-top: 2rem;
  }
  .panel.small{
     margin-top: 4rem;
  }

}
@media(max-width: 1024px) and (min-width: 1000px){
   input#textInput{
        margin-left: 40rem;
        margin-top: 7rem;
   } 
   button.click{
      margin-top: 7rem;
   }
  td{
    color: #239B56;
    padding-left: 0rem;
    padding-right: 10rem;
  }
  input#backSearch{
     font-size: 10px;
     margin-left: 19rem;
  }
  input#submit{
    margin-left: 42%;
    margin-bottom: 4rem;
    font-size: 10px;
  }
  input#textInput_1{
     width: 60%;
     margin-left: 10rem;
     margin-top: 7rem;
  }

}
